/* @font-face {
    font-family: 'NanumGothic';
    src: url('../font/NanumGothic.eot');
    src: url('../font/NanumGothic.eot') format('embedded-opentype')
        ,url('../font/NanumGothic.woff') format('woff');
} */

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    width: 1280px;
    margin: 0 auto;
    font-family: 'NanumGothic', 'serif';
}

#body {
    min-height: 800px;
    border-left: 3px solid #AEAEAE;
    border-right: 3px solid #AEAEAE;
    display: flex;
    
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* header */
#header {
    height: 250px;
    background-color: #393939;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_empty {
    width: 180px;
}

#logo {
    height: 150px;
}

#account {
    width: 160px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

#account a {
    font-size: 20px;
    color: #AEAEAE;
    margin-bottom: 200px;
}

#account a:hover {
    text-decoration: underline;
}

/* aside */
aside {
    border-right: 2px solid #AEAEAE;
    width: 300px;

}

#hideMenu {
    height: 0px;
    left: 300px;
    position: relative;
}

#hideMenu img {
    border-right: 2px solid #AEAEAE;
    border-bottom: 2px solid #AEAEAE;
    border-bottom-right-radius: 10px;
    padding: 16px 2px;
    cursor: pointer;
}

#showMenu {
    height: 0px;
    left: 0px;
    position: relative;
    display: none;
}

#showMenu img {
    border-right: 2px solid #AEAEAE;
    border-bottom: 2px solid #AEAEAE;
    border-bottom-right-radius: 10px;
    padding: 16px 2px;
    cursor: pointer;
}

#aside_wrap {
    overflow: hidden;
}

#menu_btn {
    width: 300px;
    border-bottom: 2px solid #AEAEAE;
    display: flex;
    justify-content: center;
}

#menu_btn button {
    width: 150px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    background-color: white;
    cursor: pointer;
}

#menu_btn #world {
    color: #38424A;
    border-right: 2px solid #AEAEAE;
}

#menu_btn #my {
    color: #AEAEAE;
}

.mainCategory {
    height: 60px;
    font-size: 28px;
    font-weight: bold;
    color: #38424A;
    line-height: 60px;
    padding-left: 10px;
    text-overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.sub {
    width: 200px;
    height: 0;
    overflow: hidden;
}

.subCategory {
    height: 30px;
    font-size: 20px;
    color: #38424A;
    line-height: 30px;
    margin: 10px 0;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

.subCategory p {
    padding-left: 10px;
}

.subCategory::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #AEAEAE;
    transition: all .5s;
}

.subCategory:hover::after {
    width: 100%;
}

/* main */
main {
    min-width: 0;
    width: 100%;
    padding: 20px;
    flex: 1;
}

#information, #nickname, #title {
    padding-left: 30px;
}

#information {
    font-size: 18px;
    color: #7C7C7C;
    display: flex;
    justify-content: space-between;
}

#nickname {
    font-size: 23px;
}

#title {
    font-size: 40px;
    font-weight: bold;
    border-bottom: 1px solid #AEAEAE;
    padding-right: 30px;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#files {
    font-size: 18px;
    color: #AEAEAE;
    border-bottom: 1px solid #AEAEAE;
    padding: 10px 30px;
    display: flex;
}

#file {
    margin-right: 20px;
}

.fileName {
    color: #AEAEAE;
}

.fileName:hover {
    text-decoration: underline;
}

.fileSize {
    font-size: 14px;
}

#contents {
    font-size: 22px;
    border-bottom: 1px solid #AEAEAE;
    padding: 20px 10px;
}

#guest {
    width: 400px;
    margin: 60px auto 50px;
    display: flex;
    justify-content: space-between;
}

#guest>div {
    height: 50px;
    border: 2px solid #AEAEAE;
    border-radius: 30px;
    padding: 5px 15px;
    box-shadow: 2px 2px 2px black;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#guest>div:active {
    box-shadow: none;
    position: relative;
    top: 2px;
    left: 2px;
}

#hart {
    font-size: 35px;
}

#like, #comment_btn {
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    margin-left: 10px;
}

#comment_img {
    width: 40px;
    padding-bottom: 5px;
}

/* comment */
#comments, #writeComment {
    border: 2px solid #AEAEAE;
    border-radius: 10px;
    padding: 0 20px 20px;
}

#comments {
    border-bottom: 0.5px solid #AEAEAE;
}

.mainComment {
    border-bottom: 2px solid #AEAEAE;
    padding: 20px 20px 0;
}

.nickname {
    font-size: 25px;
}

.comment {
    font-size: 18px;
    margin: 15px 10px;
}

.commRegDate {
    color: #AEAEAE;
    font-size: 16px;
    padding-bottom: 10px;
}

.reply_btn {
    margin-left: 20px;
    cursor: pointer;
}

.reply_btn:hover {
    text-decoration: underline;
}

.reply {
    height: 165px;
    border: 2px solid #AEAEAE;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: none;
}

.reply_txt {
    width: 100%;
    height: 120px;
    font-size: 16px;
    border: none;
    resize: none;
}

.reply_btn_wrap {
    float: right;
}

.reply_send {
    color: #AEAEAE;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid #AEAEAE;
    border-radius: 7px;
    background-color: white;
    margin: 5px 20px;
    padding: 5px 15px;
    cursor: pointer;
}

.reply_send:hover {
    color: #393939;
    border: 2px solid #393939;
    text-decoration: none;
}

.subComment {
    border-bottom: 1px solid #AEAEAE;
    margin: 0 40px;
    padding: 10px 30px 0px;
}

#comment_nick {
    font-size: 26px;
    font-weight: bold;
    margin: 8px 25px;
}

#comment_wrap {
    height: 195px;
    border: 2px solid #AEAEAE;
    border-radius: 10px;
    padding: 10px;
}

#comment_txt {
    width: 100%;
    height: 150px;
    font-size: 18px;
    border: none;
    resize: none;
}

#comment_btn_wrap {
    float: right;
}

#comment_send {
    color: #AEAEAE;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid #AEAEAE;
    border-radius: 7px;
    background-color: white;
    margin: 5px 20px;
    padding: 5px 15px;
    cursor: pointer;
}

#comment_send:hover {
    color: #393939;
    border: 2px solid #393939;
    text-decoration: none;
}

#update_wrap {
    height: 170px;
    text-align: center;
    line-height: 200px;
}

#update_wrap input {
    width: 120px;
    height: 60px;
    color: #AEAEAE;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #AEAEAE;
    border-radius: 10px;
    background-color: white;
    margin: 0 50px;
    cursor: pointer;
}

#update_wrap input:hover {
    color: #393939;
    border: 2px solid #393939;
}

/* footer */
#footer {
    height: 80px;
    font-size: 25px;
    line-height: 70px;
    border-width: 2px 3px 3px 3px;
    border-style: solid;
    border-color: #AEAEAE;
    padding-left: 30px;
}