/* @font-face {
    font-family: 'NanumGothic';
    src: url('../font/NanumGothic.eot');
    src: url('../font/NanumGothic.eot') format('embedded-opentype')
        ,url('../font/NanumGothic.woff') format('woff');
} */

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    width: 1280px;
    margin: 0 auto;
    font-family: 'NanumGothic', 'serif';
}

#body {
    min-height: 800px;
    border-left: 3px solid #AEAEAE;
    border-right: 3px solid #AEAEAE;
    display: flex;
    
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* header */
#header {
    height: 250px;
    background-color: #393939;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_empty {
    width: 180px;
}

#logo {
    height: 150px;
}

#account {
    width: 160px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

#account a {
    font-size: 20px;
    color: #AEAEAE;
    margin-bottom: 200px;
}

#account a:hover {
    text-decoration: underline;
}

/* aside */
aside {
    border-right: 2px solid #AEAEAE;
    width: 300px;

}

#hideMenu {
    height: 0px;
    left: 300px;
    position: relative;
}

#hideMenu img {
    border-right: 2px solid #AEAEAE;
    border-bottom: 2px solid #AEAEAE;
    border-bottom-right-radius: 10px;
    padding: 16px 2px;
    cursor: pointer;
}

#showMenu {
    height: 0px;
    left: 0px;
    position: relative;
    display: none;
}

#showMenu img {
    border-right: 2px solid #AEAEAE;
    border-bottom: 2px solid #AEAEAE;
    border-bottom-right-radius: 10px;
    padding: 16px 2px;
    cursor: pointer;
}

#aside_wrap {
    overflow: hidden;
}

#menu_btn {
    width: 300px;
    border-bottom: 2px solid #AEAEAE;
    display: flex;
    justify-content: center;
}

#menu_btn button {
    width: 150px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    background-color: white;
    cursor: pointer;
}

#menu_btn #world {
    color: #38424A;
    border-right: 2px solid #AEAEAE;
}

#menu_btn #my {
    color: #AEAEAE;
}

.mainCategory {
    height: 60px;
    font-size: 28px;
    font-weight: bold;
    color: #38424A;
    line-height: 60px;
    padding-left: 10px;
    margin-bottom: 10px;
    text-overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.sub {
    width: 200px;
    height: 0;
    overflow: hidden;
}

.subCategory {
    height: 30px;
    font-size: 20px;
    color: #38424A;
    line-height: 30px;
    margin: 10px 0;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

.subCategory p {
    padding-left: 10px;
}

.subCategory::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #AEAEAE;
    transition: all .5s;
}

.subCategory:hover::after {
    width: 100%;
}

/* main */
main {
    min-width: 0;
    width: 100%;
}

#search_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#search {
    width: 350px;
    margin: 10px 0;
    display: flex;
}

#field {
    width: 90px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    border: 2px solid #AEAEAE;
    border-radius: 10px;
    padding: 0 28px 0 10px;
    background: url('../image/selectArrow.png') no-repeat 95% 50%/15px auto;
    appearance: none;
}

#keyword_wrap {
    width: 220px;
    margin-left: 5px;
    display: inline-block;
    position: relative;
}

#keyword {
    width: 100%;
    height: 36px;
    font-size: 16px;
    border: 2px solid #AEAEAE;
    border-radius: 10px;
    padding: 0 0px 0 10px;
}

#keyword_wrap img {
    width: 30px;
    position: absolute;
    top: 8px;
    right: -8px;
    cursor: pointer;
}

/* 정렬 기능 */
#sort_wrap {
    width: 200px;
    margin: -10px 0 0 70px;
    display: flex;
    justify-content: space-between;
}

#sort_wrap div {
    font-weight: bold;
}

/* 컨텐츠 */
.content {
    width: 90%;
    height: 180px;
    border-top: 2px solid #D9D9D9;
    border-bottom: 2px solid #D9D9D9;
    margin: 30px auto;
    padding: 5px 30px 20px;
}

.content:first-child {
    margin-top: 10px;
}

.information {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.info {
    margin-left: 30px;
}

.info span {
    margin-right: 15px;
}

.cate, .reg {
    color: #7C7C7C;
}

.title {
    width: 100%;
    font-size: 35px;
    margin: 5px 20px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.title:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
}

.cont {
    height: 4.8em;
    line-height: 1.2em;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 페이징 */
#pages {
    text-align: center;
    margin: 50px 0 100px;
}

.page {
    font-size: 22px;
    margin: 0 10px;
    cursor: pointer;
}

.page:hover {
    text-decoration: underline;
}

.myPage {
    font-size: 22px;
    font-weight: bold;
    margin: 0 10px;
}

/* footer */
#footer {
    height: 80px;
    font-size: 25px;
    line-height: 70px;
    border-width: 2px 3px 3px 3px;
    border-style: solid;
    border-color: #AEAEAE;
    padding-left: 30px;
}